.image {
  height: 60px;
  width: 60px;
  position: relative;
  margin-left: 22px;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.icon {
  width: 110px;
  height: 90px;
  display: block;
}

.buttonText {
  text-align: center;
  font-size: 14px;
  font-family: 'MS sans-serif', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  display: inline-block;
  margin-left: 22px;
  color: rgb(219, 219, 219);
}