.desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(26,24,52);
  background: linear-gradient(90deg, rgba(26,24,52,1) 0%, rgba(75,33,101,1) 41%, rgba(1,7,88,1) 95%);
  display: flex;
  flex-direction: column;
}

.clickedStyle { 
  background-color: rgba(197, 197, 197, 0.514);
  color: white;
  border: 1px solid rgb(185, 185, 185);
  width: 108px;
  height: 88px;
}

.icon {
  width: 110px;
  height: 90px;
  display: block;
  padding-top: 5px;
  text-align: center;
  margin-left: 20px;
  margin-top: 10px;
}